# Node modules
node_modules/

# Logs
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE or Editor settings
.vscode/
.idea/

# Coverage reports
coverage/

# Temporary files
*.swp
*.swo
